# 環境変数ファイル
.env

# データベース設定ファイル
config/database.json
config.js

# ログファイル
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# 本番用ビルド
dist/

# OSが生成する不要ファイル

.DS_Store
Thumbs.db

dist/
node_modules/



# local env files
.env.local
.env.*.local


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

